<style>
    .delete-btn { font-size:14px; background-color:red; }
    .btn-confirm { font-size:14px; background-color:green; }
    .btn-confirmed { font-size:14px; background-color:#5cb85c; }
    .sm-btn { font-size:16px;}
    .sm-txt { text-align: left; font-size:16px;}
    .msgtext {text-align: left; font:18px;}
</style>

<div class="home">
  <h1 id="logo"><img src="/home/auth0_logo_final_blue_RGB.png" /></h1>
  <h2>{{profile.name}}'s appointments!</h2>

  <div ng-repeat="a in appointments track by a.created_at">
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
    <div class="row" ng-show="!a.isSold">
        <div class="col-md-2 col-md-offset-1" style='text-align:left;'>
          <!--<button ng-show="isAdmin" class="btn delete-btn" ng-click="removeAppointment(a.id)">remove</button>-->
          <button ng-show="isAdmin && !a.confirmed_at" class="btn delete-btn disabled">Unconfirmed</button>
          <button ng-show="!isAdmin && !a.confirmed_at" class="btn btn-confirm" ng-click="confirmAppointment([a.client_project, a.created_at])">Confirm</button>
          <button ng-show="a.confirmed_at" class="btn btn-confirmed disabled">Confirmed</button>
        </div>
        <div class="col-md-6 col-xs-12 msgtext" >
            <table class="table table-hover">
              <tbody class="files">
              <tr>
                <th>Project</th>
                <td>{{a.client_project}}</td>
              </tr>
              <tr>
                <th>Attendees</th>
                <td>{{a.appointment.attendees}}</td>
              </tr>
              <tr>
                <th>Summary</th>
                <td><pre>{{a.appointment.summary}}</pre></td>
              </tr>
              <tr>
                <th>Documents</th>
                <td>
                    <iframe ng-src="{{a.appointment.documents}}" width="100%" frameborder="0" allowfullscreen webkitallowfullscreen msallowfullscreen></iframe>
                    <!--      <iframe ng-src="{{a.appointment.documents}}" width="330" height="400" frameborder="0" allowfullscreen webkitallowfullscreen msallowfullscreen></iframe>-->
                    <!--                    <iframe src="a.appointment.documents?direction=ASC&theme=dark" width="330" height="400" frameborder="0" allowfullscreen webkitallowfullscreen msallowfullscreen> </iframe>-->
                </td>
              </tr>
              <tr>
                <th>Confirmed</th>
                <td>{{a.confirmed_at}}</td>
              </tr>
              </tbody>
            </table>
        </div>

    </div>
  </div>
<!--
  <div ng-repeat="a in appointments track by a.created_at">
    <div class="row" ng-show="a.confirmed_at">
      <div class="col-md-1 col-md-offset-2" style='text-align:left;'>
          <button ng-show="isAdmin" class="btn delete-btn" ng-click="removeAppointment(pet.id)">remove</button>
      </div>
      <div class="col-md-8 msgtext" >Confirmed on {{a.confirmed_at}}</div>
    </div>
  </div>
  <br />
-->

  <button class="btn sm-btn" ng-click="addAppointment()" ng-hide="adding || !isAdmin">Add Appointment</button>

  <div ng-show="adding">
        <span class="sm-txt">
            <label>Project:&nbsp;</label><input type="text" size="50" placeholder="appointment" ng-model="client_project"></input><br />
            <label>Attendees:&nbsp;</label><input type="text" size="50" ng-model="appointment.attendees"></input><br />
            <label>Summary:&nbsp;&nbsp;</label><textarea rows="10" cols="48" ng-model="appointment.summary"></textarea> <br />
            <label>Documents:&nbsp;</label><input type="text" size="50" ng-model="appointment.documents"></input> <br />
            <!--TODO: use type="url" and disable save button on default -->
        <span>
        <button class="btn sm-btn" ng-click="saveAppointment()">save</button>
        <button class="btn sm-btn" ng-click="cancelAddAppointment()">cancel</button>
  </div>

  <br /><br />
  <button class="btn btn-warning sm-btn" ng-click="logout()">Logout</button>
</div>
